<div>
    <img src="assets/RAbout.jpg"/>
    
</div>
<div>
    <h1 class="text-center"><b>Overview</b></h1>
    <p>Our desire to be the very best that drives us to add true value in whatever we do.
     Today, as when we commenced, we are driven by a single imperative - to make a difference
      in our customer's lives by helping them navigate the complexities of risk through our 
      value-added services.With our expertise we provide a comprehensive array of claims,
     health insurance, employee benefits, home insurance, vehicle insurance and claim handling services.</p>
</div>
<h1 class="text-center"><b>OUR TEAM</b></h1>
