<div>
    <img src="assets/RAbout.jpg"/>
    
</div>
<div>
    <div class="container">
        <div class="left">
    <h1 class="text-center"><b>Overview</b></h1>
   
     
    <p>Our desire to be the very best that drives us to add true value in whatever we do.
     Today, as when we commenced, we are driven by a single imperative - to make a difference
      in our customer's lives by helping them navigate the complexities of risk through our 
      value-added services. When you buy insurance, you purchase protection against unexpected 
      financial losses. The insurance company pays you or someone you choose if something bad 
      happens to you. If you have no insurance and an accident happens, you may be responsible 
      for all related costs.With our expertise we provide a comprehensive array of claims,
     health insurance, employee benefits, home insurance, vehicle insurance and claim handling 
     services.</p>       
    </div>
</div>
</div>
<div class="container">
    <div class="right">
<h1 class="text-center"><b>Our Team</b></h1>

<p> We have our employee strength over 100 professionals and we have with us one of the most experienced and diverse
     technical teams in the industry. The senior management team comprises of Insurance professionals, Chartered 
    Accountants, Engineers and HR professionals.</p>
<h2>Archit Arao</h2><h5>Btech </h5><p>He heads the Business Development initiative 
    and is responsible for increasing the company's foot prints across the globe. He has been 
    associated with us for close to 10 years in various capacities starting with 
    heading the Chennai branch to being the regional head for the Southern region and then
     heading the Insurance Services Group at the National level. </p>
<h2>Bibi Skaria</h2><h5>MBA</h5><p>She heads the government business over the last 14 years
     with us she has worked in various capacities in the company from setting up the Delhi Branch operations to building the life insurance and 
    finally focussing on generation and growth of government business. Also she has a rich experience in
    the life insurance industry through her tenure in Life Insurance Company Limited.</p>
<h2>Hemlata Malve</h2><h5>MCom</h5><p>Hemlata heads the Retail Business vertical for the company. 
    She has been associated with Insure since 2013 and has been instrumental in driving 
    and building on the e-retail concept for the vertical. She has an experience of over two 
    decades in New India Assurance company as well as with Bajaj Allianz.</p>
<h2>Harshithgowda BV</h2><h5>MBA</h5><p>Harshith handles the customer relationship team at the Delhi
     branch of Insure. He has been with us for the last 5 years and has a total 
     experience of about 10 years. Prior to Insure he was with Religare Insurance Broking
     and MS handling various corporate marketing and servicing profiles.</p>
<h2>Magfoor Ahmad</h2><h5>MSc</h5><p>Magfoor heads the operations team for the Risk Management
     vertical of the company. He has been with Insure for over 12 years and has handled 
     various assignments in the Company including client servicing, Knowledge & Training, 
     Compliance and Brand management. He was with New India Assurance Company for over 15 
     years prior to joining us.</p>
<h2>Shaik Sameer</h2><h5>Btech</h5><p>Sameer is a specialist in engineering insurance and has
     handled major assignments on structuring customised insurance programs and handling 
     claims for large infrastructure companies in the country. Prior to Insure he has
    worked for almost equal number of years with Hyderabad Alwyn, Kirloskar Pneumatic and 
    Sanpar Microfilters limited.</p>
<h2>Sai Chandana</h2><h5>B.E</h5><p>She drives our employee benefits vertical for 
    the Bangalore branch. Sai has been associated with Insure since June 2014. She
    has had a successful career spanning 6 years with his initial years being in the 
    manufacturing & service sector. The last 7 years have been in the Insurance industry with 
    MetLife India & Future Generali Life Insurance Company prior to joining India Insure.</p>
</div>
</div>