<div class="bg-image">
    <img src="assets/customer.jpg" height="500px" width="1080px"/>
</div>
<div class="container">
    <div class="centered"><h1>We'd Love to Hear From You</h1>
        <p><b>Get in touch with us. Here's how you can reach us....</b></p></div>
  </div>
<div class="container">
    <div class="left">
    <h4><b>Meet Us</b></h4><i class="fa fa-phone-square" aria-hidden="true">+91 8887945555</i><p>
    <i class="fa fa-envelope" aria-hidden="true">insure@gmail.com</i></p>
    <p><i class="fa fa-map-marker" aria-hidden="true">10th Floor,Jasola District Centre, New Delhi-110025</i></p>
    <h5><i class="text-success">Either You can contact us or please fill this form...</i></h5>
</div>
</div>
<div class="container">
    <div class="right">
        <div class="login-block">
            <form>
            <h1 class="h3 mb-3 fw-normal">Please fill out for any queries</h1>
            <label>Your Name</label><br>
            <input type="text" ><br>
            <label>Your Email</label><br>
            <input type="text"><br>
        
            <button class="w-100 btn btn-lg btn-primary" type="submit">Submit</button>
            </form>
        </div>
    </div>
</div>

