<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <a class="navbar-brand text-black" routerLink="/"><img src="assets/RLogo.png" height="85px" width="150px"/><b class="text-white">CLAIMS</b></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active text-black" aria-current="page" routerLink="/">Home</a>
         
          <a class="nav-link text-black" routerLink="about">About Us</a>
          <a class="nav-link text-black" routerLink="contact">Contact</a>
          <a class="nav-link text-black" routerLink="delete">Plans</a>
          <a class="nav-link text-black" routerLink="register">NewPlans</a>
          <button type="button" class="btn btn-warning" routerLink="login">Login</button>
   
        </div>
      </div>
    </div>
  </nav>