/* You can add global styles to this file, and also import other style files */
/*body{
    background-color: cadetblue;
    color: darkorchid;
}*/
.green-icon{
    color: lightgreen;
}
.red-icon{
    color: red;
}
.blue-icon{
    color: darkblue;
}
input.ng-touched.ng-invalid{
    border-color: darkred;
}
input.ng.valid{
    border-color: darkgreen;
}