<body class="body">
<app-pp-reg></app-pp-reg>
<table class="table table-hover">
    <thead class="login-block">
          <tr>
            <th>Id</th>
            <th>PlanName</th>
            <th>Amount</th>
            <th>StartDate</th>
            <th>EndDate</th>
            <th>MemberId</th>


         </tr>
    </thead>
    <tbody class="login-block">
        <tr *ngFor="let p of objSrv.ppList">
            <td (click)="fillForm(p)">{{p.PId}}</td>
            <td (click)="fillForm(p)">{{p.Pname}}</td>
            <td (click)="fillForm(p)">{{p.Amount}}</td>
            <td (click)="fillForm(p)">{{p.Start}}</td>
            <td (click)="fillForm(p)">{{p.End}}</td>
            <td (click)="fillForm(p)">{{p.MrefID}}</td>

        </tr>

    </tbody>
</table>
</body>



