*{
    margin: 4px;
    padding: 4px;
}
.background-image{
    background-image: url('C:\Users\2000081334\claimManagement\src\assets\insure.jpg');
    background-size:cover;
    height:100vh;
    margin-bottom:60px;
}
.centered {
    position:absolute;
    top: 40%;
    left: 80%;
    transform:none;
    color: rgb(17, 27, 24);
    font-family:'Times New Roman', Times, serif;
   
  }
  .h3{
    color: cornflowerblue;
  }
